nav {
    background: rgba(0, 183, 255, 0.205);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.navbar-home {
    margin: 0;
}
.navbar-group {
    margin-left: auto;
}
.navbar-Link {
    border: none;
    height: fit-content;
    background: none;
    padding: 0;
    margin-inline: 0.8rem;
    text-decoration: none;
    font-size: 1.15rem;
    color: black;

    &:hover {
        color: rgb(3, 158, 219)
    }
}